---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <a href="index.astro">
        <img src="" alt="logo" />
      </a>
      <button> Kontakt os </button>
      <section class="hero">
        <img src="" alt="herosectionlogo" />
        <p>Vi bygger bro mellem bureau og kreativ</p>
      </section>
    </header>

    <main>
      <section>
        <h1>Hvem er vi - og hvad er vores mål?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nisi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, repellat.</p>
      </section>
      <section>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
        <div>
          <img src="" alt="" />
          <h2></h2>
          <p></p>
        </div>
      </section>
      <section>
        <h1></h1>
        <button></button>
      </section>

      <section>
        <h1>Mød bestyrelsen</h1>
        <p>det her er bestyrelsen</p>
        <div class="medlem">
          <img src="" alt="" />
          <p></p>
        </div>
        <div class="medlem">
          <img src="" alt="" />
          <p></p>
        </div>
        <div class="medlem">
          <img src="" alt="" />
          <p></p>
        </div>
        <div class="medlem">
          <img src="" alt="" />
          <p></p>
        </div>
      </section>
    </main>
    <footer>
      <img src="" alt="ycdk logo" />
      <p></p>
      <div>
        <h4></h4>
        <a href="">Instagram</a>
        <a href="">Facebook</a>
      </div>
      <div>
        <h4>Telefon</h4>
        <a href="">+45 12345678</a>
      </div>
      <div>
        <h4>Adresse</h4>
      </div>
    </footer>
  </body>
</html>
