---
import Button from "./Button.astro";
---

<div>
  <span>
    <h1>
      Lyst til at lære mere om <img src="../assets/YCDK_ata-logo.svg" alt="ansigt til ansigt" />?
    </h1>
  </span>
  <Button Text="LÆS MERE ➞" />
</div>

<style>
  div {
    height: 100vh;
    width: 100vw;
    padding: 2rlh 10vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rlh;
    color: var(--color_white);
    background-color: var(--color_primary-blue);
  }
</style>
